/data/road/instance_counts.json
/data/road/road_trainval_v1.0.json
/data/road/videos
/data/road/rgb-images
/data/road/cache
/data/road/cache.bak
/data/road/videos.zip
/data/kinetics-pt/*.pth

/logs/*
!/logs/.gitkeep
/output/*
!/output/.gitkeep

/tmp
